<header>
    <img src="assets/logo.png" alt="Logo de l'association NatBraille.">
    <a href="#" class="headerLink">Accueil</a> <!-- TODO : change the buttons if the user is logged in! & the href -->
    <div class="header-right">
        <a href="#signin" class="headerLink">S'inscrire</a>
        <a href="#login" class="headerLink" onclick="simulateLogin(event)">Se connecter</a>
    </div>
</header>