{% extends "base.html.twig" %}

{% block additional_stylesheets_and_scripts %}
    <link href="CSS/accueil.css" rel="stylesheet">
    <script src="Scripts/script_demo_maquette.js" defer async></script>
{% endblock %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div id="not-logged-in-content">
        <div id="row-1">
            <div class="card" id="loginCard">
                <!-- Connexion -->
                <a id="login"></a>
                <h1 class="title-1">Connexion</h1>
                <form method="POST" action="#">
                    <label class="form-label" for="loginMail">Adresse mail :</label>
                    <input class="form-input" type="text" name="loginMail" id="loginMail">
                    <label class="form-label" for="loginPwd">Mot de passe :</label>
                    <input class="form-input" type="text" name="loginPwd" id="loginPwd">
                    <input type="submit" class="button" id="loginSubmit" value="Se connecter">
                </form>
                <a class="link" href="#signin">Je n'ai pas de compte.</a>
            </div>
            <div class="card">
                <!-- Présentation -->
                <h1 class="title-1">Qu'est-ce que [nom du projet] ?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur vestibulum augue porta
                    maximus. Etiam leo mi,
                    posuere iaculis varius ut, dignissim ut risus. Duis risus nisl, euismod ac erat vel, sollicitudin
                    laoreet diam. Etiam ac
                    risus id nisl egestas ultricies. Nam vel risus neque. Integer rutrum iaculis felis, quis convallis
                    ipsum rhoncus sed.
                    Quisque porta lectus eros, in gravida tortor accumsan non. Curabitur ac massa ut libero gravida
                    cursus eget a massa.
                    Curabitur placerat et nulla eu semper. Nulla ut auctor elit. Maecenas sit amet ante et orci iaculis
                    lobortis nec in
                    nisl. Donec placerat ultricies eros eu gravida. Suspendisse non sem nunc.</p>
                <h2 class="title-2">Qui est concerné par [nom du projet] ?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur vestibulum augue porta
                    maximus. Etiam leo mi,
                    posuere iaculis varius ut, dignissim ut risus. Duis risus nisl, euismod ac erat vel, sollicitudin
                    laoreet diam. Etiam ac
                    risus id nisl egestas ultricies. Nam vel risus neque. Integer rutrum iaculis felis, quis convallis
                    ipsum rhoncus sed.
                    Quisque porta lectus eros, in gravida tortor accumsan non. Curabitur ac massa ut libero gravida
                    cursus eget a massa.
                    Curabitur placerat et nulla eu semper. Nulla ut auctor elit. Maecenas sit amet ante et orci iaculis
                    lobortis nec in
                    nisl. Donec placerat ultricies eros eu gravida. Suspendisse non sem nunc.</p>
                <h2 class="title-2">Quel est l'objectif de [nom du projet] ?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur vestibulum augue porta
                    maximus. Etiam leo mi,
                    posuere iaculis varius ut, dignissim ut risus. Duis risus nisl, euismod ac erat vel, sollicitudin
                    laoreet diam. Etiam ac
                    risus id nisl egestas ultricies. Nam vel risus neque. Integer rutrum iaculis felis, quis convallis
                    ipsum rhoncus sed.
                    Quisque porta lectus eros, in gravida tortor accumsan non. Curabitur ac massa ut libero gravida
                    cursus eget a massa.
                    Curabitur placerat et nulla eu semper. Nulla ut auctor elit. Maecenas sit amet ante et orci iaculis
                    lobortis nec in
                    nisl. Donec placerat ultricies eros eu gravida. Suspendisse non sem nunc.</p>
            </div>
        </div>
        <div id="row-2">
            <div class="card">
                <!-- Inscription -->
                <a id="signin"></a>
                <h1 class="title-1">Inscription</h1>
                <form method="POST" action="#">
                    <div id="signinInputs">
                        <div class="col">
                            <label class="form-label" for="signinName">Nom :</label>
                            <input class="form-input" type="text" name="signinName" id="signinName">
                            <label class="form-label" for="signinFirstName">Prénom :</label>
                            <input class="form-input" type="text" name="signinFirstName" id="signinFirstName">
                        </div>
                        <div class="col">
                            <label class="form-label" for="signinMail">Adresse mail à lier au compte :</label>
                            <input class="form-input" type="text" name="signinMail" id="signinMail">
                            <label class="form-label" for="signinDate">Date de naissance :</label>
                            <input class="form-input" type="text" name="signinDate" id="signinDate"
                                   placeholder="jj/mm/aaaa">
                        </div>
                        <div class="col">
                            <label class="form-label" for="signinPwd">Mot de passe souhaité :</label>
                            <input class="form-input" type="text" name="signinPwd" id="signinPwd">
                            <label class="form-label" for="signinPwdConfirm">Confirmer le mot de passe :</label>
                            <input class="form-input" type="text" name="signinPwdConfirm" id="signinPwdConfirm">
                        </div>
                    </div>
                    <input type="submit" class="button" id="signinSubmit" value="S'inscrire">
                </form>
                <a class="link" href="#login">J'ai déjà un compte.</a>
            </div>
        </div>
    </div>
{% endblock %}